In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/yelp-dataset/Dataset_User_Agreement.pdf
/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json

In [ ]:
list_review = []
json_review = pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json", chunksize = 50000, lines = True)
for chunk in json_review:
    list_review.append(chunk)
df_review = pd.concat(list_review, ignore_index=True)
print(df_review.head())

In [10]:
list_checkin = []
json_checkin = pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json", chunksize = 50000, lines = True)
for chunk in json_checkin:
    list_checkin.append(chunk)
df_checkin = pd.concat(list_checkin, ignore_index=True)
df_checkin = df_checkin.assign(date=df_checkin['date'].str.split(',')).explode('date')
df_checkin['date'] = pd.to_datetime(df_checkin['date'].str.strip())
print(df_checkin.head())

              business_id                date
0  ---kPU91CF4Lq2-WlRu9Lw 2020-03-13 21:10:56
0  ---kPU91CF4Lq2-WlRu9Lw 2020-06-02 22:18:06
0  ---kPU91CF4Lq2-WlRu9Lw 2020-07-24 22:42:27
0  ---kPU91CF4Lq2-WlRu9Lw 2020-10-24 21:36:13
0  ---kPU91CF4Lq2-WlRu9Lw 2020-12-09 21:23:33

In [13]:
list_business = []
json_business = pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json", chunksize = 50000, lines = True)
for chunk in json_business:
    list_business.append(chunk)
df_business = pd.concat(list_business, ignore_index=True)
df_business = pd.json_normalize(df_business.to_dict(orient='records'))
print(df_business.head())

              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1  87 Grasso Plaza Shopping Center         Affton    MO       63123
2             5255 E Broadway Blvd         Tucson    AZ       85711
3                      935 Race St   Philadelphia    PA       19107
4                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  ...  \
0  34.426679 -119.711197    5.0             7  ...
1  38.551126  -90.335695    3.0            15  ...
2  32.223236 -110.880452    3.5            22  ...
3  39.955505  -75.155564    4.0            80  ...
4  40.338183  -75.471659    4.5            13  ...

   attributes.AcceptsInsurance attributes.BestNights  attributes.BYOB  \
0                          NaN                   NaN              NaN
1                          NaN                   NaN              NaN
2                          NaN                   NaN              NaN
3                          NaN                   NaN              NaN
4                          NaN                   NaN              NaN

  attributes.Corkage attributes.BYOBCorkage attributes.HairSpecializesIn  \
0                NaN                    NaN                          NaN
1                NaN                    NaN                          NaN
2                NaN                    NaN                          NaN
3                NaN                    NaN                          NaN
4                NaN                    NaN                          NaN

  attributes.Open24Hours attributes.RestaurantsCounterService  \
0                    NaN                                  NaN
1                    NaN                                  NaN
2                    NaN                                  NaN
3                    NaN                                  NaN
4                    NaN                                  NaN

  attributes.AgesAllowed attributes.DietaryRestrictions
0                    NaN                            NaN
1                    NaN                            NaN
2                    NaN                            NaN
3                    NaN                            NaN
4                    NaN                            NaN

[5 rows x 60 columns]

In [ ]:
list_tip = []
json_tip = pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json", chunksize = 50000, lines = True)
for chunk in json_tip:
    list_tip.append(chunk)
df_tip = pd.concat(list_tip, ignore_index=True)
print(df_tip.head())

In [ ]:
list_user = []
json_user = pd.read_json("/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json", chunksize = 50000, lines = True)
for chunk in json_user:
    list_user.append(chunk)
df_user = pd.concat(list_user, ignore_index=True)
print(df_user.head())

In [3]:
from sqlalchemy import create_engine
import sqlalchemy
!pip install pyodbc
!pip install sqlalchemy
!pip install sqlalchemy pymssql pandas

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (336 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 336.0/336.0 kB 4.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.10/site-packages (2.0.30)
Collecting pymssql
  Downloading pymssql-2.3.1-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (7.1 kB)
Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pymssql-2.3.1-cp310-cp310-manylinux_2_28_x86_64.whl (4.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 26.8 MB/s eta 0:00:00a 0:00:01
Installing collected packages: pymssql
Successfully installed pymssql-2.3.1

In [4]:
username = 'sqladmin'
password = 'Group4123'
server = 'ruitaoj2-server.database.windows.net'
database = 'BADM_554_Group4'

connection_string = f"mssql+pymssql://{username}:{password}@{server}:1433/{database}?charset=utf8"
engine = create_engine(connection_string)

try:
    with engine.connect()as conn:
        print("Connection to the Azure SOL Database instance is successful!")
except Exception as e:
    print("Connection failed:",e)

Connection failed: (pymssql.exceptions.OperationalError) (40615, b"Cannot open server 'ruitaoj2-server' requested by the login. Client with IP address '34.74.78.21' is not allowed to access the server.  To enable access, use the Azure Management Portal or run sp_set_firewall_rule on the master database to create a firewall rule for this IP address or address range.  It may take up to five minutes for this change to take effect.DB-Lib error message 20018, severity 14:\nGeneral SQL Server error: Check messages from the SQL Server\nDB-Lib error message 20002, severity 9:\nAdaptive Server connection failed (ruitaoj2-server.database.windows.net)\nDB-Lib error message 20002, severity 9:\nAdaptive Server connection failed (ruitaoj2-server.database.windows.net)\n")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
df_review.to_sql(name="table_name", con=engine, if_exists='replace', index=False, chunksize=80000)

In [20]:
df_checkin.to_sql(name="checkin", con=engine, if_exists='replace', index=False, chunksize=80000)

166875

In [14]:
df_business.to_sql(name="business",  con = engine, if_exists='replace', index=False, chunksize=50000)

66

In [ ]:
df_tip.to_sql(name="tip", con=engine, if_exists='replace', index=False, chunksize=50000)

In [ ]:
df_user.to_sql(name="user", con=engine, if_exists='replace', index=False, chunksize=50000)